<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
<form method='POST' enctype='multipart/form-data' action="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}">
	<div class='pane'>
		<div class='header'>
			<h2>Edit Restaurant</h2>
			<p class='label'>{{ restaurant.name }}</p>
		</div>
		<p class='label'>Enter new name</p><input name='name' type='text' placeholder='{{ restaurant.name }}'>
		<br/><input type='submit' value='Save'/>
		<span> </span>
		<a href="{{ url_for('showRestaurants') }}">Cancel<a/>
	</div>
</form>
</body></html>