<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
<form method='POST' enctype='multipart/form-data' action="{{ url_for('editMenuItem', restaurant_id = i.restaurant_id, menu_id = i.id) }}">
<div class='pane'>
	<div class='header'><h2>Edit Menu Item</h2></div>
	<p class='label'>Enter name</p><input name='name' type='text' placeholder=' {{ i.name }}'>
	<p class='label'>Enter price</p><input name='price' type='text' placeholder=' {{ i.price }}'>
	<p class='label'>Enter description</p><input name='description' type='text' placeholder=' {{ i.description }}'>
	<p class='label'>Check course</p>
	{% for course in courses %}
	<div>
		<input type="radio" id="{{ course.lower() }}" name="course" value="{{ course }}" {% if i.course == course %} checked {% endif %}/>
		<label class='label' for="{{ course.lower() }}">{{ course }}</label>
	</div>
	{% endfor %}

	<br/><input type='submit' value='Save'/>
	<span> </span>
	<a href="{{ url_for('showMenu', restaurant_id = i.restaurant_id) }}">Cancel<a/>
</div>
</form>
</body></html>